.albums__wrap{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.album__card{
    padding: 10px 20px;
    border: none;
    background-color: bisque;
    border-radius: 20px;
    margin-top: 10px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.button{
    border-radius: 20px;
    width: 100px;
    border: none;
    text-decoration: none;
    color: black;
}
.btn_text{
    color: black;

}