a{
    text-decoration: none;
}
.wrap{
    display: flex;
    justify-content: space-around;
}
.link{
    font-size: 24px;
    font-weight: 800;
    color: black;
    cursor: pointer;
    transition: 1s;
}
.link:hover{
    transform: scale(1.24);
}